{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        {% if produit is not empty %}
            {% for prod in produit  %}
        <div class="descriptionPdtPro">
                <h4 class="titrePdtPro">{{ prod.name }}</h4>
                <p class="txtPdt">Quantité en kilo: {{ prod.quantity }}</p>
                <p class="txtPdt">Fournisseur: {{ prod.fournisseur }}</p>
                <p class="txtPdt">Description du produit: {{ prod.description }}</p>
                <p class="txtPdt">Prix en euro: {{ prod.price }}</p>
        </div>
            {% endfor %}
            {% else %}
            <p>dsl nous n'avons pas ce produit pour le moment</p>
        {% endif %}

    </div>
{% endblock %}
