{% extends 'base.html.twig' %}

{% block body %}


    <nav>
        <ul id="menu">

            <li><a href="{{ path('product') }}" > NOS PRODUITS</a></li>
            <li><a href="{{ path('charte') }}" >QUI SOMMES NOUS </a></li>
            <li> <a href="{{ path('pro') }}">ESPACE PRO</a></li>
            <li><a href="{{ path ('contact_formulaire') }}">CONTACT</a></li>
        </ul>
    </nav>

    <div id="header2">
        <div id="imageRecherche">
            <h2 id="cherchezVous">Consommez malin !</h2>

        </div>
    </div>
    <h2 id="produitMoment">LES PRODUITS DU MOMENT:</h2>

    <div id="imageMoment">

        <img  src="/img/icones/fromage.png" class="imgMoment"/>
        <img  src="/img/icones/raisin.png" class="imgMoment"/>
        <img  src="/img/icones/aubergine.png" class="imgMoment"/>
        <img src="/img/icones/carotte.png" class="imgMoment"/>
        <img src="/img/icones/tomate.png"  class="imgMoment"/>
    </div>

    <div id="separator">
        <img src="/img/separateur.png">
    </div>

    <h1 id="what">COMMENT ÇA MARCHE ?</h1>
    <div id="texta">

        Ce site a pour vocation de lister le stock des produits risquant d'être jetés en Seine-Maritime.<br/>
        Nos produits proviennent d'artisans, d'agriculteurs ou de restaurateurs partenaires.
    </div>


    <div id="savoirplus">
        <a id="plus" href="{{ path('aboutus') }}">EN SAVOIR +</a>
    </div>

    <div id="separator">
        <img src="/img/separateur.png">
    </div>
    <div id="illu">
        <img src="/img/illuchaine.png">
    </div>

{% endblock %}

