
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Paniermalin{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script type="text/javascript" src={{ asset('build/app.js') }}></script>
        <link rel ="stylesheet" type="text/css" href="{{ asset("build/app.css") }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>


{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}



        <div >
    <a  href="{{ path('index') }}"><img src="/img/logo11-final.png" id="logoz" /></a>
        </div>


    <h1 id="titlinscript" class="text-center ">Inscrivez-vous</h1>

    {{ form(form) }}












{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

{% endblock %}
</body>
</html>
