<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Paniermalin{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script type="text/javascript" src={{ asset('build/app.js') }}></script>
        <link rel ="stylesheet" type="text/css" href="{{ asset("build/app.css") }}">
        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                width: 60%;
                height: 100%;
                margin: auto 0;
            }
            #divMap{
                margin-top: 40px;
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: center;
            }
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    {% endblock %}
</head>

<header class="container-fluid">

    <div id="cadreonglet">
        <a href="{{ path('user') }}"><img src="/img/logo11-final.png" id="logo" /></a>
        <a href=""><img src="/img/hamper-filled.png" id="panier"></a>
        <span id="liens">

            <a>Bienvenue {% if app.user.username is not empty%}{{ app.user.username }}{% endif %} !</a>
            <a href="{{ path('security_logout')}}">Déconnexion</a><br>

                    </span>
    </div>
</header>
{#AIzaSyDxsTnCDIPtk7JmvpGUJkP6KCvdHofzw-w#}
{% block body %}
    {#//////////////////////////GEOLOCAMISATION API///////////////////////////#}
    <div id="divMap">
        <div id="map"></div>
    </div>


    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 49.524641, lng: 0.882833},
                zoom: 8
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Vous êtes ici.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxsTnCDIPtk7JmvpGUJkP6KCvdHofzw-w&callback=initMap">
    </script>

    {#//////////////////////////GEOLOCAMISATION API///////////////////////////#}

    <h1>Liste des produits</h1>

<div id="conteneurMainPdt">
    <main id="mainPagePdt">
    {% for key, file in files if key > 1  %}
        <div class="iconePdt">
            <a href="{{ path('liste_product') }}?name={{ file }}" name="{{ file }}"><img src="/img/icones/{{ file }}"></a>
        </div>
    {% endfor %}
    </main>
</div>



{% endblock %}
<footer id="footer" class="container-fluid">
    <div id="menubasdepage" class="row">
        <div id="menufooter" class=" col-sm-4 col-lg-2"><p id="titresfooter">À PROPOS</p><br/><p id="titresfooter">QUI SOMMES NOUS? </p><br/><p id="titresfooter"> CONTACTEZ-NOUS </p><br/><p id="titresfooter">PARTENAIRES</p><br/>
        </div>
        <div id="social" class="offset-lg-2 col-sm-4 col-lg-3"><img src="/img/facebookLogo.png" id="facebook"><img src="/img/instagramLogo.png" id="insta"><img src="/img/twitterLogo.png" id="twitter">
        </div>
        <div id="carte" class="offset-lg-2 col-sm-4 col-lg-3"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41101.894107878936!2d1.0484701373485654!3d49.920045177734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0a207670619f9%3A0xaea20a3d78418545!2s76200+Dieppe!5e0!3m2!1sfr!2sfr!4v1527500300813" width="400" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

{% endblock %}
</body>
</html>